/* Item */
.menu-item {
    position: relative;
    font-size: var(--font-size);
    color: var(--color-text);
    width: 100%;
    background-color: inherit;
    padding: calc(var(--gap-1) / 4);

    & > button {
        font-size: 1.4em;
        display: block;
        border: none;
        display: flex;
        align-items: center;
        background-color: transparent;
        width: 100%;
        height: var(--height-1);
        border-radius: var(--border-radius);

        &[disabled] {
            color: (--color-text-disabled);
        }

        &:hover {
            background-color: var(--color-background-hover);
        }

        & > span:first-child {
            width: var(--height-1);
            height: var(--height-1);
            display: flex;
            justify-content: center;
            align-items: center;

            & > svg {
                width: calc(var(--height-1) / 1.6);
                height: calc(var(--height-1) / 1.6);
            }
        }

        & > span:last-child {
            width: calc(var(--height-1) / 2);
            height: var(--height-1);
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: calc(var(--gap-1) / 2);

            & > SVG {
                width: calc(var(--height-1) / 2);
                height: calc(var(--height-1) / 2);
                padding: calc(var(--gap-1) / 8);
                opacity: 0.7;
            }
        }

        & > kbd {
            margin-left: auto;
            font-size: 0.8em;
            color: inherit;
            width: max-content;
            opacity: 0.7;
        }
    }

    & > .context-menu {
        display: none;
    }

    &:hover > .context-menu[data-ispopover],
    &:focus > .context-menu[data-ispopover] {
        display: block;
        position: absolute;
        top: 0%;
        left: calc(var(--total-width) - var(--gap-1));
        background-color: var(--color-background);
        opacity: calc(1 - attr(data-nesting-level) * 0.2);
    }
}

/* Option List */
.context-menu {
    --gap-1: 10px;
    --height-1: 33px;
    --total-width: 374px;
    --border-radius: 4px;
    --font-size: 10px;

    --color-text: #000000;
    --color-text-disabled: #ededed;
    --color-background: #ffffff;
    --color-background-hover: #eeeeee;
    --color-border: #dadada;

    &[data-theme="dark"] {
        --color-text: #ffffff;
        --color-text-disabled: #ababab;
        --color-background: #4a4a4a;
        --color-background-hover: #616161;
        --color-border: #636363;
    }

    position: fixed;
    /* left : attr(data-x);
    top :attr(data-y) ; */
    width: var(--total-width);
    padding: calc(var(--gap-1) / 4);

    box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
        0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
        0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);

    border-radius: var(--border-radius);
    border: 1px solid var(--color-border);

    & > li[role="separator"] {
        /* --border-color: #eaeaea; */
        --size: 2px;
        padding: var(--size);
        border-bottom: calc(var(--size) / 2) solid var(--color-text-disabled);
        width: 100%;
    }

    & > li[role="separator"]:last-child {
        border: none;
        padding: none;
    }
}
