/* Item */
.menu-item {
    --font-size: 10px;
    position: relative;
    font-size: var(--font-size);
    color: var(--dark-text);
    width: 100%;
    background-color: inherit;
    padding: calc(var(--gap-1) / 4);

    & > button {
        font-size: 1.4em;
        display: block;
        border: none;
        display: flex;
        align-items: center;
        background-color: transparent;
        width: 100%;
        height: var(--height-1);
        border-radius: var(--border-radius);

        &[disabled] {
            opacity: 0.7;
        }

        &:hover {
            background-color: var(--hover-color);
        }

        & > span:first-child {
            width: var(--height-1);
            height: var(--height-1);
            display: flex;
            justify-content: center;
            align-items: center;

            & > svg {
                width: calc(var(--height-1) / 1.6);
                height: calc(var(--height-1) / 1.6);
            }
        }

        & > span:last-child {
            width: calc(var(--height-1) / 2);
            height: var(--height-1);
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: calc(var(--gap-1) / 2);

            & > SVG {
                width: calc(var(--height-1) / 2);
                height: calc(var(--height-1) / 2);
                padding: calc(var(--gap-1) / 8);
                opacity: 0.7;
            }
        }

        & > kbd {
            margin-left: auto;
            font-size: 0.8em;
            color: var(--opaque-text);
            width: max-content;
        }
    }

    & > .context-menu {
        display: none;
    }

    &:hover > .context-menu[data-ispopover],
    &:focus > .context-menu[data-ispopover] {
        display: block;
        position: absolute;
        top: 0%;
        left: calc(var(--total-width) - var(--gap-1));
        width: var(--total-width);
        border-radius: var(--border-radius);
        box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
            0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
            0 8px 8px hsl(0deg 0% 0% / 0.075),
            0 16px 16px hsl(0deg 0% 0% / 0.075);
        background-color: var(--light-bg);
        opacity: calc(1 - attr(data-nesting-level) * 0.2);
    }
}

/* Option List */
.context-menu {
    --gap-1: 10px;
    --height-1: 33px;
    --light-bg: #fafafa;
    --hover-color: #d3d3d3;
    --opaque-text: #9b9999;
    --dark-text: #474747;
    --total-width: 374px;
    --border-radius: 4px;
    position: relative;
    width: var(--total-width);
    padding: calc(var(--gap-1) / 4);
    box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
        0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
        0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
    border-radius: var(--border-radius);

    & > li[role="separator"] {
        --border-color: #eaeaea;
        padding: 2px;
        border-bottom: 1px solid var(--border-color);
        width: 100%;
        list-style: none;
    }

    & > li[role="separator"]:last-child {
        border: none;
    }
}
