*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    opacity: 0.9;
    line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
article,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
/* Item */
.item {
    --font-size: 10px;

    font-size: var(--font-size);
    color: var(--dark-text);
    width: 100%;
    background-color: inherit;
    list-style: none;
}

.item > article {
    position: relative;
    font-size: inherit;
    display: block;
    border: none;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: inherit;
    height: var(--gap-1);
    border-radius: var(--border-radius);
}

.item > article[disabled] {
    opacity: 0.7;
}

.item > article:hover {
    opacity: 0.9;
    background-color: var(--hover-color);
}

.item-icon-wrapper {
    width: var(--gap-1);
    height: var(--gap-1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-icon-wrapper > svg {
    width: calc(var(--gap-1) / 1.7);
    height: calc(var(--gap-1) / 1.7);
}

.item-text {
    font-size: 1.4em;
}

.item-shoutcut {
    margin-left: auto;
    font-size: 1em;
    color: var(--opaque-text);
    width: max-content;
}

.item-option-wrapper {
    width: var(--gap-1);
    height: var(--gap-1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-option-wrapper > SVG {
    width: calc(var(--gap-1) / 2);
    height: calc(var(--gap-1) / 2);
}

/* Option Category */
.option-category {
    --border-color: #eaeaea;
    padding: 2px;
    border-bottom: 1px solid var(--border-color);
    width: 100%;
    list-style: none;
}

.option-category:last-child {
    border: none;
}

/* Option List */
.option-list {
    --gap-1: 28px;
    --light-bg: #fafafa;
    --hover-color: #d3d3d3;
    --opaque-text: #686868;
    --dark-text: #474747;
    --total-width: 312px;
    --border-radius: 4px;
    position: relative;
    width: var(--total-width);
    padding: 5px;
    box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
        0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
        0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
    border-radius: var(--border-radius);
}

.item .option-category {
    display: none;
}

.item:hover .option-category[data-ispopover],
.item:focus .option-category[data-ispopover] {
    display: block;
    position: absolute;
    left: calc(var(--total-width) - (var(--gap-1) / 2));
    width: calc(var(--total-width) / 2);
    border-radius: var(--border-radius);
    box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
        0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
        0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
    background-color: var(--light-bg);
}
